
## Problem Statement
    In a competitive market like the restaurant industry, understanding the factors that influence business is crucial for stakeholders. Utilizing the Yelp dataset, this project aims to investigate the relationship between user engagement (reviews, tips, and check-ins) and business success metrics (review count, ratings) for restaurants

## Research Objective 
    1. Quantify the correlation between user engagement(review, tips, check-ins) and review count/average star rating: this will help us determine if a restaurant with higher user engagement experiences a corresponding increase in reviews and ratings.
    
    2. Analyze the impact of sentiment on review count and average star rating: we will investigate if positive sentiment in reviews and tips translates to higher star ratings and potentially influences the total number of restaurants left.
    
    3. Time trends in user Engagement: will explore if consistent user engagement over time is an indicator of long-term success compared to sporadic bursts of activity.


## Hypothesis Testing

    * higher levels of user engagement(more review, tips, and check-ins) correlate with higher review counts and rating for restaurants
    
    * positive sentiments expressed in reviews and tips contribute to higher overall ratings and review counts for restaurants
    
    * Consists engagement over time is positively associated with sustained business success for restaurants

## Importing Libraries

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from datetime import datetime
import numpy as np
import sqlite3
import folium
from geopy.geocoders import Nominatim
from IPython.display import display
from matplotlib.colors import LinearSegmentedColormap
import warnings
warnings.filterwarnings('ignore')

In [4]:
import json
from sqlalchemy import create_engine

In [ ]:
with open('yelp_academic_dataset_business.json', 'r', encoding='utf-8') as f:
    business_data = [json.loads(line) for line in f]
business_df = pd.DataFrame(business_data)

with open('yelp_academic_dataset_checkin.json', 'r', encoding='utf-8') as f:
    checkin_data = [json.loads(line) for line in f]
checkin_df = pd.DataFrame(checkin_data)

with open('yelp_academic_dataset_review.json', 'r', encoding='utf-8') as f:
    review_data = [json.loads(line) for line in f]
review_df = pd.DataFrame(review_data)

with open('yelp_academic_dataset_tip.json', 'r', encoding='utf-8') as f:
    tip_data = [json.loads(line) for line in f]
tip_df = pd.DataFrame(tip_data)

with open('yelp_academic_dataset_user.json', 'r', encoding='utf-8') as f:
    user_data = [json.loads(line) for line in f]
user_df = pd.DataFrame(user_data)

## DataBase Connection

In [19]:
# creating database connection
conn = sqlite3.connect('Yelp Dataset')

In [20]:
tables = pd.read_sql_query("SELECT name from sqlite_master where type = 'table'", conn)

DatabaseError: Execution failed on sql 'SELECT name from sqlite_master where type = 'table'': file is not a database

In [18]:
tables

Empty DataFrame
Columns: [name]
Index: []